.books-logo {
	color: var(--on-surface-color);
}

.container {
	margin: 0 auto;
	max-width: 1244px;
	padding: 0 var(--space-10);
}

.content-flex-container {
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
}

/* Header */

.main-header {
	display: flex;
	align-items: center;
	height: var(--space-16);
	border-bottom: 1px solid var(--border-color);
}

/* Main */

.content {
	display: grid;
	grid-template-areas: "books sidebar";
	grid-template-columns: 1fr auto;
	gap: var(--space-6);
}

.books {
	grid-area: books;
	display: flex;
	flex-direction: column;
	gap: var(--space-10);
}

.content__sidebar {
	background-color: var(--surface-color);
	position: sticky;
	top: 0;
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
}

.content__sidebar-wrapper {
	background-color: var(--on-primary-color);
}

.sidebar__title {
	color: var(--on-surface-color);
	text-align: left;
}

.sidebar__inputs {
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
}

.sidebar__search {
	width: 100%;
	background-image: url("../image/loop.svg");
	background-repeat: no-repeat;
	background-color: var(--surface-overlay-color);
	border-radius: var(--border-radius-md);
	background-position: 19px 15px;
	border: none;
	padding: var(--space-2) var(--space-4) var(--space-2) var(--space-12);
}

.sidebar__select {
	appearance: none;
	background-image: url("../image/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: calc(100% - var(--space-5)) var(--space-5);
	cursor: pointer;
	background-color: var(--surface-overlay-color);
	color: var(--on-surface-color);
	padding: var(--space-2) var(--space-5) var(--space-2) var(--space-4);
	border-radius: var(--border-radius-md);
	width: 100%;
	border: none;
}

.sidebar__checkbox-container {
	position: relative;
	padding-left: var(--space-9);
	color: var(--on-surface-color);
	user-select: none;
}

.sidebar__checkbox {
	position: absolute;
	opacity: 0;
	top: 6px;
	left: 0;
	height: var(--space-5);
	width: var(--space-5);
}

.sidebar__checkbox-mark {
	position: absolute;
	top: 6px;
	left: 0;
	height: var(--space-5);
	width: var(--space-5);
	border-radius: var(--border-radius-sm);
	border: 2px solid var(--border-color);
}

.sidebar__checkbox-mark::before {
	content: "";
	position: absolute;
	display: none;
	left: 3px;
	top: 3px;
	width: 10px;
	height: 10px;
	border-radius: var(--border-radius-sm);
	background-color: var(--primary-color);
}

.sidebar__checkbox-container input:checked ~ .sidebar__checkbox-mark::before {
	display: block;
}

.sidebar__checkbox-container input:checked ~ .sidebar__checkbox-mark {
	border: 2px solid var(--primary-color);
}

.books__group {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
}

.books__header {
	padding: var(--space-4) 0;
	position: sticky;
	top: 0;
	background-color: var(--surface-color);
	display: flex;
	gap: var(--space-2);
	text-align: left;
}

.book__title {
	/* for match with the page design */
	/* stylelint-disable-next-line value-no-vendor-prefix */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--on-surface-color);
}

.filter .filter__name {
	text-transform: uppercase;
}

.book {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: var(--space-4);
}

.book__item {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.book__image {
	border-radius: var(--border-radius-lg);
	border: 1px solid var(--border-color);
}

/* Footer */

.main-footer {
	height: var(--space-32);
	padding-top: var(--space-6);
	border-top: 1px solid var(--border-color);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.main-footer__info {
	display: flex;
	gap: var(--space-8);
	align-items: center;
}

.main-footer__copyright {
	display: flex;
	align-items: center;
	gap: var(--space-2);
}

.main-footer__year {
	color: var(--on-surface-color);
}

.main-footer__nav_link {
	color: var(--on-surface-color);
}

.main-footer__go-top {
	text-decoration: none;
	color: var(--on-surface-color);
	background-color: var(--surface-color);
	cursor: pointer;
}

/* Medias */
@media screen and (max-width: 1280px) {
	.content-flex-container {
		gap: var(--space-base);
	}

	.container {
		padding: 0 var(--space-6);
		max-width: 100%;
	}

	.content {
		grid-template-areas: "sidebar" "books";
		grid-template-columns: 1fr;
		padding-bottom: var(--space-5);
	}

	.content__sidebar-wrapper {
		position: sticky;
		top: 0;
		padding: var(--space-6) 0;
		border-bottom: 1px solid var(--border-color);
	}

	.books {
		max-width: 100%;
	}

	/* For multiple sticky */
	.books__header {
		top: 140px;
	}

	.book {
		grid-template-columns: repeat(4, minmax(180px, 1fr));
	}

	.sidebar__inputs {
		display: grid;
		grid-template-columns: 1fr 1fr auto;
		align-items: center;
	}
}

@media screen and (max-width: 786px) {
	.sidebar__inputs {
		display: flex;
		flex-direction: column;
		align-items: normal;
	}

	/* For multiple sticky */
	.books__header {
		top: 265px;
	}

	.book {
		grid-template-columns: repeat(2, minmax(180px, 1fr));
	}

	.main-footer {
		flex-direction: column;
		gap: var(--space-10);
	}

	.main-footer__info {
		justify-content: space-between;
	}

	.main-footer__go-top {
		align-self: flex-end;
	}
}
