.game {
	height: 100vh;
	display: flex;
	justify-content: center;
	padding: 0 var(--space-10);
	margin: 0 auto;
	flex-direction: column;
	gap: var(--space-5);
}

.game__item {
	border: var(--border-main);
	border-radius: var(--border-radius-lg);
	padding-left: var(--space-5);
	height: var(--space-30);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--space-3);
	width: 100%;
}

.game__content {
	height: var(--space-5);
}

.game__roll-the-dice {
	align-self: flex-start;
	width: var(--space-25);
}

.game__winner {
	background-color: var(--winner-color);
}
