:root {
	/* Colors */
	--on-surface-color: rgb(0 0 0 / 100%);
	--surface-color: rgb(255 255 255 / 100%);
	--surface-overlay-color: rgb(0 0 0 / 5%);
	--primary-color: rgb(241 89 36 / 100%);
	--on-primary-color: rgb(255 255 255);
	--border-color: rgb(0 0 0 / 15%);

	/* Font-size */
	--font-size-md: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 20px;

	/* Spaces */
	--space-base: 4px;
	--space-2: calc(var(--space-base) * 2);
	--space-4: calc(var(--space-base) * 4);
	--space-5: calc(var(--space-base) * 5);
	--space-6: calc(var(--space-base) * 6);
	--space-7: calc(var(--space-base) * 7);
	--space-8: calc(var(--space-base) * 8);
	--space-9: calc(var(--space-base) * 9);
	--space-10: calc(var(--space-base) * 10);
	--space-12: calc(var(--space-base) * 12);
	--space-19: calc(var(--space-base) * 19);

	/* Border-radius */
	--border-radius-4: 4px;
	--border-radius-16: 16px;
	--border-radius-24: 24px;
}
