@import url("../global/index.css");

.header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.main {
  margin-top: 24px;
  display: grid;
  grid-template-areas: "books sidebar";
  grid-template-columns: 1fr auto;
  gap: 24px;
}

.books {
  grid-area: books;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main__sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.sidebar__search {
  background-image: url('./img/loop.png');
  background-repeat: no-repeat;
  background-color: rgb(0 0 0 /15%);
  border-radius: 16px;
  background-position: 19px 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  border: none;
  padding: 8px 16px 8px 48px;
}

.sidebar__select {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  background-color: rgb(0 0 0 /15%);
  padding: 8px 20px 8px 16px;
  border-radius: 16px;
  width: 100%;
  border: none;
}

.sidebar__select option[selected] {
  color: red;
}

.sidebar__checkbox {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.sidebar__checkbox input {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0 0 0 / 15%);
}

.books__group {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.books__header {
  display: flex;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.filter .filter__name {
  text-transform: uppercase;
}

.books__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.books__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.books__img {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer {
  margin-top: 24px;
  padding-top: 28px;
  padding-bottom: 76px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  gap: 32px;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__year {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.footer__nav a {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}

.footer__go-top-button {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  border: none;
  background-color: white;
  cursor: pointer;
}