@import url("../global/index.css");

.container {
  margin: 0 auto;
  max-width: 1244px;
}

/* Header */

.header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* Main */

.main {
  margin-top: 24px;
  display: grid;
  grid-template-areas: "books sidebar";
  grid-template-columns: 1fr auto;
  gap: 24px;
}

.books {
  grid-area: books;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main__sidebar {
  background-color: white;
  /* position: sticky; */
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.sidebar__inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar__search {
  background-image: url('./img/loop.png');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  background-position: 19px 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  border: none;
  padding: 8px 16px 8px 48px;
}

.sidebar__select {
  appearance: none;
  background-image: url('./img/arrow-down.png');
  background-repeat: no-repeat;
  background-position: 90% 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  background-color: rgb(0 0 0 / 5%);
  color: rgb(0 0 0 / 50%);
  padding: 8px 20px 8px 16px;
  border-radius: 16px;
  width: 100%;
  border: none;
}


.sidebar__checkbox-container {
  position: relative;
  padding-left: 36px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  user-select: none;
}

.sidebar__checkbox-container>input {
  position: absolute;
  opacity: 0;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
}

.sidebar__checkbox-mark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid rgba(0 0 0 / 15%);
}

.sidebar__checkbox-mark::before {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 3px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #F15924;
}

.sidebar__checkbox-container input:checked~.sidebar__checkbox-mark::before {
  display: block;
}

.sidebar__checkbox-container input:checked~.sidebar__checkbox-mark {
  border: 2px solid #F15924;
}

.books__group {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.books__header {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.books__titie {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.filter .filter__name {
  text-transform: uppercase;
}

.books__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.books__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.books__img {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Footer */

.footer {
  margin-top: 24px;
  padding-top: 28px;
  padding-bottom: 76px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  gap: 32px;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__year {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.footer__nav a {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}

.footer__go-top-button {
  width: 114px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  border: none;
  background-color: white;
  cursor: pointer;
}

/* Medias */
@media screen and (max-width: 1919px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 738px;
  }

  .main {
    grid-template-areas: "sidebar"
      "books";
    grid-template-columns: 1fr;
  }

  .sidebar__inputs {
    flex-direction: row;
  }

  .books__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 785px) {
  .container {
    max-width: 312px;
  }

  .sidebar__inputs {
    flex-direction: column;
  }

  .books__list {
    grid-template-columns: repeat(2, 148px);
  }

  .footer {
    flex-direction: column;
    gap: 40px;
  }

  .footer__info {
    justify-content: space-between;
  }

  .footer__go-top-button {
    align-self: flex-end;
  }
}