:root {
  /* Colors */
  --on-surface: rgb(0 0 0 / 100%);
  --on-surface-dim: rgb(0 0 0 / 50%);
  --surface: rgb(255 255 255 / 100%);
  --surface-overlay: rgb(0 0 0 / 5%);
  --primary: rgb(241 89 36 / 100%);
  --on-primary: rgb(255 255 255);
  --border: rgb(0 0 0 / 15%);

  /* Font-size*/
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  /* Spaces */
  --space-2: 8px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;

  /* Border-radius */
  --border-radius-4: 4px;
  --border-radius-16: 16px;
  --border-radius-24: 24px;
}
