.game__wrapper {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.game__item {
	border: 1px solid gray;
	background-color: aliceblue;
	border-radius: 24px;
	padding-left: 20px;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.game__content {
	height: 20px;
}

.game__roll-the-dice {
	width: 100px;
}
