:root {
	/* Colors */
	--surf-color: rgb(0 0 0 / 100%);

	/* Spaces */
	--space-base: 4px;
	--space-3: calc(var(--space-base) * 3);
	--space-5: calc(var(--space-base) * 5);
	--space-6: calc(var(--space-base) * 6);
	--space-10: calc(var(--space-base) * 10);
	--space-25: calc(var(--space-base) * 25);
	--space-30: calc(var(--space-base) * 30);

	/* Border */
	--border-main: 1px solid var(--surf-color);

	/* Border-radius */
	--border-radius-lg: 32px;
}
