<form class="register-form" [formGroup]="registerForm">
	<!-- Email filed -->
	<mat-form-field>
		<mat-label>Email</mat-label>
		<input matInput type="text" />
	</mat-form-field>

	<!-- First Name filed -->
	<mat-form-field>
		<mat-label>First Name</mat-label>
		<input matInput type="text" />
	</mat-form-field>

	<!-- Last Name filed -->
	<mat-form-field>
		<mat-label>Last Name</mat-label>
		<input matInput type="text" />
	</mat-form-field>

	<!-- Password filed -->
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input matInput type="text" />
	</mat-form-field>

	<!-- Retype password filed -->
	<mat-form-field>
		<mat-label>Retype Password</mat-label>
		<input matInput type="text" />
	</mat-form-field>

	<!-- Submit button -->
	<button mat-stroked-button type="submit">Register</button>
</form>
