@import url("./css/index.css");

.container {
	margin: 0 auto;
	max-width: 1244px;
}

/* Header */

.header {
	padding: var(--space-5) 0;
	border-bottom: 1px solid var(--border-color);
}

/* Main */

.main {
	margin-top: var(--space-6);
	display: grid;
	grid-template-areas: "books sidebar";
	grid-template-columns: 1fr auto;
	gap: var(--space-6);
}

.books {
	grid-area: books;
	display: flex;
	flex-direction: column;
	gap: var(--space-10);
	max-width: 900px;
}

.main__sidebar {
	background-color: var(--surface-color);
	position: sticky;
	top: 0;
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
}

.sidebar__title {
	font-size: var(--font-size-lg);
	font-weight: 600;
	line-height: var(--space-6);
	text-align: left;
	text-transform: uppercase;
}

.sidebar__inputs {
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
}

.sidebar__search {
	background-image: url("./img/loop.png");
	background-repeat: no-repeat;
	background-color: var(--surface-overlay-color);
	border-radius: var(--border-radius-16);
	background-position: 19px 15px;
	font-size: var(--font-size-xl);
	font-weight: 400;
	line-height: var(--space-8);
	border: none;
	padding: var(--space-2) var(--space-4) var(--space-2) var(--space-12);
}

.sidebar__select {
	appearance: none;
	background-image: url("./img/arrow-down.png");
	background-repeat: no-repeat;
	background-position: 90% var(--space-5);
	cursor: pointer;
	font-size: var(--font-size-xl);
	font-weight: 400;
	line-height: var(--space-8);
	background-color: var(--surface-overlay-color);
	color: var(--on-surface-color);
	padding: var(--space-2) var(--space-5) var(--space-2) var(--space-4);
	border-radius: var(--border-radius-16);
	width: 100%;
	border: none;
}

.sidebar__checkbox-container {
	position: relative;
	padding-left: 36px;
	color: var(--on-surface-color);
	font-size: var(--font-size-xl);
	font-weight: 400;
	line-height: var(--space-8);
	user-select: none;
}

.sidebar__checkbox-container > input {
	position: absolute;
	opacity: 0;
	top: 6px;
	left: 0;
	height: 20px;
	width: 20px;
}

.sidebar__checkbox-mark {
	position: absolute;
	top: 6px;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: var(--border-radius-4);
	border: 2px solid var(--border-color);
}

.sidebar__checkbox-mark::before {
	content: "";
	position: absolute;
	display: none;
	left: 3px;
	top: 3px;
	width: 10px;
	height: 10px;
	border-radius: var(--border-radius-4);
	background-color: var(--primary-color);
}

.sidebar__checkbox-container input:checked ~ .sidebar__checkbox-mark::before {
	display: block;
}

.sidebar__checkbox-container input:checked ~ .sidebar__checkbox-mark {
	border: 2px solid var(--primary-color);
}

.books__group {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
}

.books__header {
	position: sticky;
	top: 0;
	background-color: var(--surface-color);
	display: flex;
	gap: var(--space-2);
	font-size: var(--font-size-lg);
	font-weight: 600;
	line-height: var(--space-6);
	text-align: left;
}

.books__titie {
	/* for match the page design */
	/* stylelint-disable-next-line value-no-vendor-prefix */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--font-size-md);
	font-weight: 500;
	line-height: var(--space-6);
	color: var(--on-surface-color);
}

.filter .filter__name {
	text-transform: uppercase;
}

.books__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: var(--space-4);
}

.books__item {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.books__img {
	border-radius: var(--border-radius-24);
	border: 1px solid var(--border-color);
}

/* Footer */

.footer {
	margin-top: var(--space-6);
	padding-top: var(--space-7);
	padding-bottom: 76px;
	border-top: 1px solid var(--border-color);
	display: flex;
	justify-content: space-between;
}

.footer__info {
	display: flex;
	gap: var(--space-8);
	align-items: center;
}

.footer__copyright {
	display: flex;
	align-items: center;
	gap: var(--space-2);
}

.footer__year {
	font-size: var(--font-size-xl);
	font-weight: 400;
	line-height: var(--space-8);
}

.footer__nav a {
	color: var(--on-surface-color);
	font-size: var(--font-size-xl);
	font-weight: 400;
	line-height: var(--space-6);
}

.footer__go-top {
	width: 114px;
	text-decoration: none;
	color: var(--on-surface-color);
	font-size: var(--font-size-xl);
	font-weight: 400;
	line-height: var(--space-6);
	background-color: var(--surface-color);
	cursor: pointer;
}

/* Medias */
@media screen and (max-width: 1920px) {
	.container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 1280px) {
	.container {
		max-width: 738px;
	}

	.main {
		grid-template-areas: "sidebar" "books";
		grid-template-columns: 1fr;
	}

	.main__sidebar-wrapper {
		position: sticky;
		top: 0;
	}

	.books {
		max-width: 100%;
	}

	/* For multiple sticky */
	.books__header {
		top: 96px;
	}

	.sidebar__inputs {
		flex-direction: row;
	}
}

@media screen and (max-width: 786px) {
	.container {
		max-width: 312px;
	}

	.sidebar__inputs {
		flex-direction: column;
	}

	/* For multiple sticky */
	.books__header {
		top: 224px;
	}

	.footer {
		flex-direction: column;
		gap: var(--space-10);
	}

	.footer__info {
		justify-content: space-between;
	}

	.footer__go-top {
		align-self: flex-end;
	}
}
