:host {
	display: block;
}

.anime-table__header {
	background-color: var(--primary-color);
	color: var(--primary-light-contrast-color);
}

.anime-table__title {
	text-align: center;
}

.anime-table__content {
	padding: var(--space-5) 0;
	color: var(--primary-light-contrast-color);
	text-align: center;
}

.anime-table__image {
	width: 150px;
}
