:host {
	display: block;
}

.anime-table {
	background-color: white;
}

.anime-table__header {
	background-color: var(--primary-color);
	color: var(--primary-light-contrast-color);
}

.anime-table__title {
	text-align: center;
	border: none;
}

.anime-table__content {
	padding: var(--space-5) 0;
	border-color: var(--primary-light-color);
	color: var(--primary-light-contrast-color);
	text-align: center;
}

.anime-table__image {
	width: 150px;
}

.anime-paginator {
	background-color: var(--primary-color);
}
